<p id="notice"><%= notice %></p>

<p>
  <strong>Sales org:</strong>
  <%= @autor.sales_org %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @autor.vendor %>
</p>

<p>
  <strong>First name:</strong>
  <%= @autor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @autor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @autor.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @autor.telephone %>
</p>

<p>
  <strong>Tax number:</strong>
  <%= @autor.tax_number %>
</p>

<p>
  <strong>Tax type:</strong>
  <%= @autor.tax_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @autor.status %>
</p>

<p>
  <strong>Idsap:</strong>
  <%= @autor.idsap %>
</p>

<p>
  <strong>Ext email:</strong>
  <%= @autor.ext_email %>
</p>

<p>
  <strong>Ext heredero:</strong>
  <%= @autor.ext_heredero %>
</p>

<p>
  <strong>Ext telefono:</strong>
  <%= @autor.ext_telefono %>
</p>

<p>
  <strong>Ext envia reporte liq:</strong>
  <%= @autor.ext_envia_reporte_liq %>
</p>

<p>
  <strong>Ext envia reporte stock:</strong>
  <%= @autor.ext_envia_reporte_stock %>
</p>

<p>
  <strong>Ext email alternativo:</strong>
  <%= @autor.ext_email_alternativo %>
</p>

<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autores_path %>
